# dependencies
node_modules/

# build
dist/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# Prisma (banco local SQLite e arquivos de journal, em qualquer subpasta)
**/*.db
**/*.db-journal

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# coverage / testes
coverage/
.nyc_output/

# cache
.cache/
.eslintcache
.turbo/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
